@use '../../styles/variables.scss';


#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 8vw;
    height: 100%;
    background-color: variables.$gray_bg;
    padding: 1rem 0;
    box-shadow: 4px 0 12px #0000004d;
    z-index: 10;

    nav {
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            gap: 1rem;
            transition: 300ms;
            
            .user_icon {
                margin: 0 auto;
                color: variables.$blue_1;
                scale: 2;
            }

            p {
                text-align: center;
            }
        }

        .nav_link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #999;
            text-decoration: none;
            font-size: 0.7rem;
            width: 100%;
            transition: 150ms;

            &.active {
                color: variables.$blue_1;
            }

            &:hover {
                color: #fff;
            }

            svg {
                margin-bottom: 0.3rem;
            }
        }
    }
}
