//colors
$global_bg: #223;
$gray_bg:#222;
$blue_1: #66f;

//breakpoints
$breakpoint_1: 360px;
$breakpoint_2: 576px;
$breakpoint_3: 768px;
$breakpoint_4: 992px;
$breakpoint_5: 1200px;
$breakpoint_6: 1400px;